<!doctype html>
<html>
	<head>
		<%- include('partials/head'); %>
	</head>
	<body>

		<%- include('partials/header'); %>

		<main>
			<h1>Ooops... something went wrong.</h1>
		</main>

	</body>
</html>
