<!doctype html>
<html>
	<head>
		<%- include('partials/head'); %>
	</head>
	<body>

		<%- include('partials/header'); %>

    <div class="container" style="display:flex; align-items: center; flex-direction: column">
      <img src="./static/logo.png"/>
      <p class="lead">
        Only authorized users may lookup for patients.
      </p>
    </div>

  </body>

	</body>
</html>
