img {
	margin-top: 2rem;
}

.navbar {
  background-color: #2e4057;
  color: white;
}

.navbar h1 {
  margin-bottom: 0;
}

.navbar-nav {
  flex-direction: row;
}

.nav-item:not(:last-of-type) {
  margin-right: 1rem;
}

.nav-link {
  color: #fff;
  transition: color .2s linear;
}

.nav-link:hover {
  color: #ccc;
}

.nav-link.active {
  opacity: .6;
  color: #aaa;
}

.navbar-authenticated {
  display: flex;
  align-items: center;
}

.navbar-authenticated a {
  margin-left: 1rem;
}

.navbar-greeting {
  margin-bottom: 0;
}

.navbar-greeting-username {
  font-style: italic;
}

button {
	text-transform: capitalize;
}

.form-inline {
	margin-top: 0.5rem;
}

.crud {
	margin-top: 1rem;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}


:root {
  --bg-color: radial-gradient(circle at center, #fff, #ccc);
  --dot-color1:deepskyblue;
  --dot-color2:#000;
}

h1 {
	margin-top: 4rem;
}

tr:hover {
	background: #ccc;
}

td > a {
	text-decoration: none !important;
}

.card.main >.card-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.info {
	display:flex;
	flex-direction: row;
}

.info > small {
	background-color: #7FFF7F;
	border-radius: 10%;
	padding: 0.3rem;
	margin-left: 1rem;
}

.card.main > .nav-link {
	color: grey;
}
